  * {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    height: calc(100% - 120px);
  }

  .main-header,
  .main-footer {
    background-color: #ccc;
    height: 50px;
  }

  .logo,
  .legal-text {
    display: block;
    padding: 10px 5px 10px 5px;
    height: 30px;
    padding-top: 15px;
  }

  .main-footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .legal-text {
    text-align: center;
  }

  .main-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    overflow: auto;
  }

  .bio-container {
    height: 140px;
    background-color: #99c39b;
  }

  .avatar {
    width: 180px;
    height: 140px;
    background: #f7f7f7;
    float: left;
    margin-right: 15px;
    position: relative;
  }

  .avatar img {
    width: 100%;
    height: 100%;
  }

  .bottom-container {
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 20px;
    height: 500px;
    overflow: auto;
  }

  .left-sidebar {
    float: left;
    width: 180px;
    height: 100%;
    background-color: #f7f7f7;
  }

  .left-sidebar ul {
    text-align: center;
    display: block;
  }

  .left-sidebar li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #FFF;
  }

  .left-sidebar ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition-duration: 0.5s;
  }

  .left-sidebar ul li a:hover {
    color: #FFF;
    opacity: 0.5;
    background-color: rgb(122, 115, 112);
  }

  .gallery {
    background: #f7f7f7;
    float: left;
    height: calc(100% - 30px);
    padding: 15px;
    width: calc(100% - 491px);
    border-left: 1px solid rgb(146, 141, 141);
  }

  .gallery ul.row {
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  .gallery ul.row li {
    margin-right: 15px;
    display: inline-block;
  }

  .gallery ul.row li>img {
    height: 150px;
    width: 200px;
  }

  .right-sidebar {
    padding: 15px;
    float: right;
    width: 250px;
    height: 100%;
    background-color: #98c39b;
  }

  .right-sidebar ul {
    list-style-type: none;
  }

  .box-shadow {
    -webkit-box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
    box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
  }

  .course-table {
    margin-top: 20px;
    width: 100%;
    background-color: #FFF;
  }

  .course-table tr td {
    padding: 5px;
    border: 1px solid #CCC;
  }